FIRECRAWL_KEY="fc-4d4a5a4bde5147ef98fb5872951c3f5a"
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"
# FIRECRAWL_CONCURRENCY="2"

OPENAI_KEY="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"
CONTEXT_SIZE="128000"


# Pipedream Configuration
PIPEDREAM_CLIENT_ID=wIlf_amIsMX8e39OeWVhjyH-p-cmoO_cPJb6RchkHzA
PIPEDREAM_CLIENT_SECRET=MTsZSPBmLyhdZrmibjfHuvnEyGnzcGpnlxGCew04F8g
PIPEDREAM_PROJECT_ENVIRONMENT=development
PIPEDREAM_PROJECT_ID=proj_JPsjdzO
PIPEDREAM_API_KEY=2067f94107e47571e6bdec15cdcc7413
PIPEDREAM_WORKSPACE_ID=o_g0IzNde

