FIRECRAWL_KEY=""
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"
# FIRECRAWL_CONCURRENCY="2"

OPENAI_KEY="sk-ibidi rizz"
CONTEXT_SIZE="128000"


# Pipedream Configuration
PIPEDREAM_CLIENT_ID=
PIPEDREAM_CLIENT_SECRET=
PIPEDREAM_PROJECT_ENVIRONMENT=
PIPEDREAM_PROJECT_ID=
PIPEDREAM_API_KEY=
PIPEDREAM_WORKSPACE_ID=
